body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(212, 226, 238);
    color: #2966a3;
    
}
img{
text-align:center;
}
fieldset{
    text-align:right;
}
